$grey-darker: #33383B;
$grey-dark: #7c878e;
$grey: #9badb7;

.Left-menu {
  position: absolute;
  z-index: 10;

  &__wrapper {
    background-color: $grey-darker !important;
    padding: 100px 35px;

    button {
      position: absolute !important;
      right: 0;
      top: 65px;

      svg {
        color: $grey !important;
        height: 18px !important;
        width: 18px !important;
      }
    }

    span [role='menuitem'] {
      background: none !important;
    }

    a {
      color: $grey;
      font-size: 14px;
      margin-left: -5px;
    }

    hr {
      background-color: $grey-dark;
      border: 0;
      height: 1px;
      margin: 18px 0 5px 5px;
      width: 80%;
    }
  }
}
